* {
    box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

@keyframes div1 {
  100% {
    transform: rotate(20deg);
  }
}

@keyframes div2 {
  100% {
    transform: translateX(20vw);
  }
}

body {
  background-color: #faf1ec;
  font-family: Times;
  cursor: url(../images/cursor2.png), auto;
  transition: 0.5s ease;
}

.hide {
  display: none !important;
  transition: 2s ease;
}

.nachtstylebg {
  background-color: #3d4f63;
}

.dagstylebg {
  background-color: #FFB627;
}

.nachtstylebg2 {
  background-color: #1B2432 !important;
}

.nachtstyletext {
  color: white !important;
}

.dagstyletext {
  color: white !important;
}

.overlay {
  position: absolute;
  top: 0;
  background-image: url(../images/grain.jpg);
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: darken;
  opacity: 0.05;
}

.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  height: 70vh;
  z-index: 3;
}

.button2 {
  right: 0;
}

.buttons div {
  width: 5vw;
  padding: 1em;
  background-color: rgba(255,255,255,0.2);
  transition: 0.5s ease;
}

.buttons div:hover {
  background-color: rgba(255,255,255,0.5);
}

.nachtstylebutton {
  background-color: white !important;
}

section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-color: #65a5c1;
  height: 70vh;
  margin: 1em;
  position: relative;
  overflow: hidden;
  /* transition: 0.2s ease; */
}

.imagebegin {
  width: 100%;
  height: 70vh;
  position: absolute;
  z-index: 2;
}

.image::before, .image::after {
  content: "";
  background: url(../images/stars.jpg);
  background-size: cover;
  mix-blend-mode: lighten;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* filter: grayscale(100%); */
  animation: pulsate3 2s ease infinite;
  /* transition: 0.2s ease; */
}

.image::after {
  animation: pulsate4 2s ease infinite;
  transform: scaleX(-1);
  /* transition: 0.5s ease; */
}

.image.no-after:after, .image.no-after:before {
  background: none;
  /* transition: 0.5s ease; */
}

.nachtstyleimage {
  background-color: black !important;
  height: 70vh;
  margin: 1em;
  position: relative;
  transition: 0.2s ease;
}

.changebg {
  animation: polygon 2s forwards;
}

@keyframes polygon {
  0% {
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
  }

  50% {
    clip-path:  polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%);
    background-color: #65a5c1;
  }

  51% {
    clip-path:  polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%);
    background-color:#E09B9B;
  }

  100% {
    background-color: #9BB5E0;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
  }
}

.nachtstyleimage::before, .nachtstyleimage::after {
  content: "";
  background: url(../images/sterrenbegin.jpg) !important;
  background-size: cover;
  mix-blend-mode: lighten;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: grayscale(100%);
  animation: pulsate1 2s ease infinite;
  transition: 0s ease;
}

.nachtstyleimage::after {
  animation: pulsate2 2s ease infinite;
  transform: scaleX(-1);
  transition: 0s ease;
}

.dagstyleimage {
  background-color: #2DC7FF !important;
  height: 70vh;
  margin: 1em;
  position: relative;
  transition: 0.2s ease;
}

.dagstyleimage::before {
  content: "";
  background: url(../images/wolken.jpeg) !important;
  background-size: cover;
  mix-blend-mode: screen !important;
  background-repeat: repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: grayscale(100%);
  animation: clouds 5s linear infinite;
  transition: 0s ease;
}

@keyframes pulsate3  {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.0;
    }

    100% {
      opacity: 0.4;
    }
}

@keyframes pulsate4  {
    0% {
      opacity: 0.0;
    }

    50% {
      opacity: 0.3;
    }

    100% {
      opacity: 0.0;
    }
}

@keyframes clouds  {
  0% {
    opacity: 0.9;
    transform: translateX(0) scale(1.1);
  }

  50% {
    opacity: 0.7;
    transform: translateX(2%) scale(1.05);
  }

  100% {
    opacity: 0.9;
    transform: translateX(0) scale(1.1);
  }
}


.sterren {
  filter: grayscale(100%);
  position: absolute;
  width: 220vw;
  margin-left: 60vw;
  height: 70vh;
  object-fit: cover;
  mix-blend-mode: lighten;
  opacity: 0.5;
}

.kijker {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 30vh;
  left: 60vw;
  z-index: 4;
  animation: float 5s linear infinite;
  animation-direction: alternate;
}

@keyframes float {
  0% {
    transform: perspective(10em) translate3d(0vh, 0vh, 0) rotate(0deg);
  }

  50% {
    transform: perspective(10em) translate3d(-2vh, -5vh, 1em) rotate(-5deg);
  }

  100% {
    transform: perspective(10em) translate3d(-5vh, 0vh, -2em) rotate(-10deg);
  }
}

.image svg {
  position: absolute;
  height: 70vh;
  z-index: 2;
  transition: 0.5s ease;
}

.svgnacht {
  padding: 1em;
}

.svgnacht {
  filter: drop-shadow(0px 0px 20px white);
}

.svgdag {
  filter: drop-shadow(0px 0px 20px rgba(255,182,39,1));
}

.svgster:hover, .svgdag:hover {
  animation: spin 3s;
}

.starspincolor {
  animation: spincolor 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spincolor {
  50% {
    stroke: rgba(36,59,74,0.5);
    stroke-width: 1px
  }
}

.svgnacht:hover {
  animation: spinmoon 3s;
}

@keyframes spinmoon {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.moon {
  animation: moon 3s;
}

@keyframes moon {
  50% {
    stroke-width: 1px
  }
}

.nighttwinkle1 {
  animation: twinkle 0.5s 0.5s 2 ease;
}

.nighttwinkle3 {
  animation: twinkle 0.5s 0.8s 2 ease;
}

.nighttwinkle2 {
  animation: twinkle 0.5s 1.1s 2 ease;
}

@keyframes twinkle {
  0% {
    fill: none;
  }

  50% {
    fill: rgba(255,255,255,0.5);
  }

  100% {
    fill: none;
  }
}

.dayshine {
  animation: shine 3s ease;
}

@keyframes shine {
  50% {
    fill: rgba(255,182,39,0.3);
    stroke-width: 1px;
  }
}

.dayshinestroke {
  animation: shinestroke 3s ease;
}

@keyframes shinestroke {
  50% {
    stroke-width: 1px;
  }
}

section:nth-of-type(2) h1, section:nth-of-type(2) div {
  width: 100vw;
  display: flex;
  justify-content: center;
}

section:nth-of-type(2) span:nth-of-type(1), section:nth-of-type(2) span:nth-of-type(2) {
  font-weight: normal;
}

section:nth-of-type(2) span:nth-of-type(8), section:nth-of-type(2) span:nth-of-type(9), section:nth-of-type(2) span:nth-of-type(10) {
  font-weight: normal;
  font-style: italic;
}

section:nth-of-type(2) span:nth-of-type(3), section:nth-of-type(2) span:nth-of-type(7) {
  border-left: 1px solid black;
  height: 1.2em;
  margin-top: 0.02em;
}

h1 {
  color: #7d5d34;
  font-size: 6em;
  margin: 0;
  transition: 0.5s ease;
  position: relative;
  z-index: 3;
}

p {
  text-decoration: none;
  color: #170c06;
  border: solid #84a0a1;
  border-width: 0.5px 0px 0.5px 0px;
  padding: 0.2em;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

@media(min-width: 20em) and (max-width: 45em) {
  html {
    overflow: hidden;
  }

  .type {
    display: none;
  }

  .buttons {
    align-items: flex-start;
    margin: 0em 1em;
  }

  .buttons div {
    width: 20vw;
    padding: 0.5em 1em;
  }

  .image {
    height: 65vh;
  }

  .image svg {
    width: 90vw;
  }

  .kijker {
    width: 50vw;
    top: 50vh;
    left: 50vw;
  }

  section:nth-of-type(2) {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  section:nth-of-type(2) div:nth-of-type(2) {
    margin-top: -8vh;
  }

  h1 {
    font-size: 5em;
  }

  @keyframes clouds  {
    0% {
      opacity: 0.9;
      transform: translateX(0) scale(1.3);
    }

    50% {
      opacity: 0.7;
      transform: translateX(5%) scale(1.1);
    }

    100% {
      opacity: 0.9;
      transform: translateX(0) scale(1.3);
    }
  }
}

@media(min-width: 45em) and (max-width: 79em) {
  html {
    overflow: hidden;
  }

  .type {
    display: none;
  }

  .buttons {
    align-items: flex-start;
    margin: 0em 1em;
  }

  .buttons div {
    width: 12vw;
    padding: 0.5em 1em;
  }

  .image svg {
    width: 80vw;
  }

  .kijker {
    width: 40vw;
    top: 50vh;
    left: 55vw;
  }

  section:nth-of-type(2) {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  section:nth-of-type(2) div:nth-of-type(2) {
    margin-top: -15vh;
  }
}






.begintext {
  width: 100vw;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 20vh;
  opacity: 0.6;
  transition: 0.5s ease;
  letter-spacing: 5px;
  position: absolute;
  z-index: 5;
}

.begintext:hover {
  letter-spacing: 20px;
  opacity: 1;
  background-color: rgba(0,0,0,1);
}

.sterrenlucht {
  margin-top: -1em;
  cursor: url(../images/cursor2.png), auto;
  position: absolute;
  z-index: 4;
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: backgroundcolor 5s ease infinite;
  animation-direction: alternate;
}

.sterrenlucht .bg1 {
    filter: grayscale(100%);
    mix-blend-mode: lighten;
    opacity: 0.5;
    position: absolute;
    background: url(../images/sterrenbegin.jpg) no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100%;
    animation: pulsate1 2s ease infinite;
}

.sterrenlucht .bg2 {
    filter: grayscale(100%);
    mix-blend-mode: lighten;
    opacity: 0.5;
    position: absolute;
    background: url(../images/sterrenbegin.jpg) no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100%;
    transform: scaleX(-1);
    animation: pulsate2 2s ease infinite;
    opacity: 0.5;
}

.invisible {
    animation: dissapear 3s forwards;
}

@keyframes backgroundcolor  {
    0% {
      background-color: black;
    }

    100% {
      background-color: #0c1c37;
    }
}

@keyframes pulsate1  {
    0% {
      opacity: 0.6;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 0.6;
    }
}

@keyframes pulsate2  {
    0% {
      opacity: 0.0;
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 0.0;
    }
}

@keyframes dissapear  {
    0% {
      opacity: 1;
      transform: perspective(10em) translate3d(0vh, 0vh, 0);
    }

    40% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: perspective(10em) translate3d(0vh, 0vh, 10em);
      display: none;
    }
}


.float1 {
  animation: floatletter1 20s linear infinite;
  animation-direction: alternate;
}

@keyframes floatletter1 {
    0% {
        transform: translate(0vw, 0vh);
    }

    25% {
        transform: translate(-5vw, -30vh) rotate(-20deg);
    }

    50% {
        transform: translate(-5vw, -50vh) rotate(20deg);
    }

    75% {
        transform: translate(5vw, -20vh) rotate(50deg);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

.float2 {
  animation: floatletter2 20s linear infinite;
  animation-direction: alternate;
}

@keyframes floatletter2 {
    0% {
        transform: translate(0vw, 0vh);
    }

    25% {
        transform: translate(5vw, -20vh) rotate(-50deg);
    }

    50% {
        transform: translate(-5vw, -50vh) rotate(-20deg);
    }

    75% {
        transform: translate(-5vw, -30vh) rotate(20deg);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}


.type {
  motion-path: path("M.5,119.54S102.44,17.82,212.33,17.82,315.6,116.9,417.54,119.54,526.1,20.47,633.34,17.82,740.58,140.68,842.52,134.07,937.85,29.71,1099.37,17.82,1271.48,152.57,1388,134.07,1538.92,15.18,1650.13,16.5,1809,135.39,1809,135.39");
  offset-path: path("M.5,119.54S102.44,17.82,212.33,17.82,315.6,116.9,417.54,119.54,526.1,20.47,633.34,17.82,740.58,140.68,842.52,134.07,937.85,29.71,1099.37,17.82,1271.48,152.57,1388,134.07,1538.92,15.18,1650.13,16.5,1809,135.39,1809,135.39");
  animation: move 20s linear infinite;
  motion-rotation: reverse;
  position: absolute;
  z-index: 2;
  bottom: 40vh;
  border: none;
  background-color: rgba(255,255,255,0.5);
}


@keyframes move {
  0% {
    opacity: 0;
    motion-offset: 0%;
    offset-distance: 0%;
  }

  20%, 70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    motion-offset: 100%;
    offset-distance: 100%;
  }
}















.wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  background-color: black;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(
      to right,
      rgba(255, 0, 0, 0.5),
      rgba(0, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
    );
  opacity: 0.5;
  transition: 1s ease;
}

.square {
  position: absolute;
	fill: none;
  /* border: 1px solid white; */
  /* border-radius: 100%; */
  width: 20em;
  height: 30em;
  animation: circleanimation 10s linear infinite;

  border-top: 1px solid white;
  border-left: 1px solid green;
  border-right: 1px solid blue;
  border-bottom: 1px solid red;
}
.square-1 {
	animation-delay: 0s;
}
.square-2 {
	animation-delay: -0.5s;
}
.square-3 {
	animation-delay: -1s;
}
.square-4 {
	animation-delay: -1.5s;
}
.square-5 {
	animation-delay: -2s;
}
.square-6 {
	animation-delay: -2.5s;
}
.square-7 {
	animation-delay: -3s;
}
.square-8 {
	animation-delay: -3.5s;
}
.square-9 {
	animation-delay: -4s;
}
.square-10 {
	animation-delay: -4.5s;
}
.square-11 {
	animation-delay: -5s;
}
.square-12 {
	animation-delay: -5.5s;
}
.square-13 {
	animation-delay: -6s;
}
.square-14 {
	animation-delay: -6.5s;
}
.square-15 {
	animation-delay: -7s;
}
.square-16 {
	animation-delay: -7.5s;
}
.square-17 {
	animation-delay: -8s;
}
.square-18 {
	animation-delay: -8.5s;
}
.square-19 {
	animation-delay: -9s;
}
.square-20 {
	animation-delay: -9.5s;
}

@keyframes circleanimation{
	0%{
		transform: scale(0) rotate(0deg);
		opacity: 1;
	}

	100%{
		transform: scale(3) rotate(90deg);
		opacity: 0;
    border: 10px solid white;
	}
}
