* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf1ec;
  font-family: Times;
  cursor: url(../images/cursor2.png), auto;
  /* overflow: hidden; */
}

.overlay {
  position: absolute;
  background-image: url(../images/grain.jpg);
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: darken;
  opacity: 0.05;
}

section:nth-of-type(1) {
  display: flex;
  justify-content: center;
}

.image {
  background-color: #65a5c1;
  height: 70vh;
  margin: 1em;
}

.sterren {
  filter: grayscale(100%);
  position: absolute;
  width: 220vw;
  margin-left: 60vw;
  height: 70vh;
  object-fit: cover;
  mix-blend-mode: lighten;
  opacity: 0.5;
}

.kijker {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 30vh;
  left: 60vw;
  z-index: 3;
  animation: float 5s infinite;
  animation-direction: alternate;
}

@keyframes float {
  0% {
    transform: perspective(10em) translate3d(0vh, 0vh, 0) rotate(0deg);
  }

  50% {
    transform: perspective(10em) translate3d(-2vh, -5vh, 1em) rotate(-5deg);
  }

  100% {
    transform: perspective(10em) translate3d(-5vh, 0vh, -2em) rotate(-10deg);
  }
}

svg {
  position: absolute;
  height: 70vh;
}

section:nth-of-type(2) h1, section:nth-of-type(2) div {
  width: 100vw;
  display: flex;
  justify-content: center;
}

section:nth-of-type(2) span:nth-of-type(1), section:nth-of-type(2) span:nth-of-type(2) {
  font-weight: normal;
}

section:nth-of-type(2) span:nth-of-type(8), section:nth-of-type(2) span:nth-of-type(9), section:nth-of-type(2) span:nth-of-type(10) {
  font-weight: normal;
  font-style: italic;
}

section:nth-of-type(2) span:nth-of-type(3), section:nth-of-type(2) span:nth-of-type(7) {
  border-left: 1px solid black;
  height: 1.2em;
  margin-top: 0.02em;
}

h1 {
  color: #7d5d34;
  font-size: 6em;
  margin: 0;
}

p {
  text-decoration: none;
  color: #170c06;
  border: solid #84a0a1;
  border-width: 0.5px 0px 0.5px 0px;
  padding: 0.2em;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

@media(min-width: 20em) and (max-width: 45em) {
  .image svg {
    width: 90vw;
  }
}







.sterrenlucht {
  margin-top: -1em;
  cursor: url(../images/cursor2.png), auto;
  position: absolute;
  z-index: 2;
  background-color: black;
  width: 100vw;
  height: 100vh;
  animation: backgroundcolor 5s ease infinite;
  animation-direction: alternate;
}

.sterrenlucht .bg1 {
    filter: grayscale(100%);
    mix-blend-mode: lighten;
    opacity: 0.5;
    position: absolute;
    background: url(../images/sterrenbegin.jpg) no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100%;
    animation: pulsate1 2s ease infinite;
}

.sterrenlucht .bg2 {
    filter: grayscale(100%);
    mix-blend-mode: lighten;
    opacity: 0.5;
    position: absolute;
    background: url(../images/sterrenbegin.jpg) no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100%;
    transform: scaleX(-1);
    animation: pulsate2 2s ease infinite;
    opacity: 0.5;
}

.invisible {
    animation: dissapear 3s forwards;
}

@keyframes backgroundcolor  {
    0% {
      background-color: black;
    }

    100% {
      background-color: #0c1c37;
    }
}

@keyframes pulsate1  {
    0% {
      opacity: 0.6;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 0.6;
    }
}

@keyframes pulsate2  {
    0% {
      opacity: 0.0;
    }

    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 0.0;
    }
}

@keyframes dissapear  {
    0% {
      opacity: 1;
      transform: perspective(10em) translate3d(0vh, 0vh, 0);
    }

    40% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: perspective(10em) translate3d(0vh, 0vh, 10em);
      display: none;
    }
}


.float1 {
  animation: floatletter1 20s infinite;
  animation-direction: alternate;
}

@keyframes floatletter1 {
    0% {
        transform: translate(0vw, 0vh);
    }

    25% {
        transform: translate(-5vw, -30vh);
    }

    50% {
        transform: translate(-5vw, -50vh);
    }

    75% {
        transform: translate(5vw, -20vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}

.float2 {
  animation: floatletter2 20s infinite;
  animation-direction: alternate;
}

@keyframes floatletter2 {
    0% {
        transform: translate(0vw, 0vh);
    }

    25% {
        transform: translate(5vw, -20vh);
    }

    50% {
        transform: translate(-5vw, -50vh);
    }

    75% {
        transform: translate(-5vw, -30vh);
    }

    100% {
        transform: translate(0vw, 0vh);
    }
}
