* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf1ec;
  font-family: Times;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background-image: url(../images/grain.jpg);
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: darken;
  opacity: 0.05;
}

section:nth-of-type(1) {
  display: flex;
  justify-content: center;
}

.image {
  background-color: #65a5c1;
  height: 70vh;
  margin: 1em;
}

.sterren {
  filter: grayscale(100%);
  position: absolute;
  width: 220vw;
  margin-left: 60vw;
  height: 75vh;
  object-fit: cover;
  mix-blend-mode: lighten;
  opacity: 0.5;
}

.kijker {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 30vh;
  left: 60vw;
}

svg {
  position: absolute;
  height: 70vh;
}

section:nth-of-type(2) h1, section:nth-of-type(2) div {
  width: 100vw;
  display: flex;
  justify-content: center;
}

section:nth-of-type(2) span:nth-of-type(1) {
  font-weight: normal;
}

section:nth-of-type(2) span:nth-of-type(5) {
  font-weight: normal;
  font-style: italic;
}

section:nth-of-type(2) span:nth-of-type(2), section:nth-of-type(2) span:nth-of-type(4) {
  border-left: 1px solid black;
  height: 1.1em;
  margin-top: 0.02em;
}

h1 {
  color: #7d5d34;
  font-size: 6em;
  margin: 0;
}

p {
  text-decoration: none;
  color: #170c06;
  border: solid #84a0a1;
  border-width: 0.5px 0px 0.5px 0px;
  padding: 0.2em;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

@media(min-width: 20em) and (max-width: 45em) {
  .image svg {
    width: 90vw;
  }
}
